@import 'variables';

// .popup {
//   background-image: url('../images/aboutbackground.jpeg');
//   background-size: cover;
//   bottom: 0;
//   left: 0;
//   position: absolute;
//   right: 0;
//   text-align: center;
//   top: 0;
//   height: auto;
// }

.about-intro {
  background-image: url('../images/aboutbackground.jpeg');
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  height: auto;
}