@import 'variables';


.App {
  background-image: url('../images/landing.jpeg');
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.intro {
  margin-top: 50px;
  margin-left: 120px; 
  margin-bottom: 450px;
  text-align: left;
  color: #504d4f;
}

.start {
  text-align: right;
  border: none;
  background: none;
  padding-left: 0px;
  color: #504d4f;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
}

.start:hover {
  color: #2a9eac;
}

.intro-header {
  font-size: 3.5em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0px;
}

.intro-details {
  font-family: 'Source Code Pro', monospace;
  margin-top: 0px;
}

.intro-about {
  width: 39%;
  margin-top: 30px;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  line-height: 1.5;
}

.arrow {
  font-size: 37px;
  color: #504d4f;
  margin: 0px 0px 70px 0px;
}

.project-grid {
  width: 100%;
  margin: 0px auto;
}

.popup {
  background: white;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
}

.project-container {
  background: white;
  border-radius: 5px;
  height: 400px;
  margin: auto auto 20px auto;
  width: 90%;
  text-align: left;
  display: grid;
  grid-template-areas: "project-details project-img";
  grid-template-rows: 60% 40%;
}

.case-study-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  color: #504d4f;
  text-align: left;
  margin: auto auto 10px 75px;
}

.project-details {
  margin: auto auto auto 100px;
  grid-area: project-details;
}

.project-headline {
  color: #2a5c62;
  font-family: 'Source Code Pro', monospace;
  padding-top: 100px;
  margin-bottom: 0px;
}

.project-title-box {
  margin-top: 5px;
  font-family: 'Source Code Pro', monospace;
  color: #504d4f;
  font-size: 1em;
}

.project-info {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  width: 85%;
  line-height: 1.5; 
}

.project-img {
  background-image: url('../images/main.png');
  background-size: cover;
  height: 300px;
  margin: 35px 180px 0px;
  position: relative;
  width: 155px;
  z-index: 2;
}

.project-image-2 {
  background-image: url('../images/wube.png');
  background-size: cover;
  width: 465px;
}

.project-image-4 {
  background-image: url('../images/snapshotmac.png');
  background-size: cover;
  height: 300px;
  width: 365px;
}

.project-image-3 {
  background-image: url('../images/walgreens.png');
  background-size: cover;
  width: 165px;
}

.footer {
  background: #f0f1f1;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  opacity: .8;
  display: grid;
  grid-template-areas: "footer-me footer-contact";
  grid-template-rows: 50% 50%;
  justify-content: space-around;
  color: #504d4f;
  text-align: left;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-me {
  margin-left: 75px;
}

.footer-contact {
  margin-right: 575px;
}

.footer-name {
  margin-bottom: 0px;
}

.footer-role {
  margin-top: 2px;
}

.footer-phone {
  margin-top: 2px;
  margin-bottom: 10px;
}

.footer-email {
  margin-bottom: 5px;
}






